<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007237012704-2galsugg6tbnvc8igs3kj8ghm4mclh1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007237012704-2galsugg6tbnvc8igs3kj8ghm4mclh1r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007237012704-576eldlp1mp5452odalkhhai6pjdprbm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6DnIdVRxB2xIrGt-M2vXFahoWINaJXZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1007237012704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sataware.unitednativesllc</string>
	<key>PROJECT_ID</key>
	<string>unh-app-58bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>unh-app-58bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007237012704:ios:6ba50eb5bb5fa4c4178485</string>
	<key>DATABASE_URL</key>
	<string>https://unh-app-58bd8.firebaseio.com</string>
</dict>
</plist>